.connect-content {
  margin-bottom: 100px;
  border-bottom: 1px solid #3592be;
}

.connect__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  background: linear-gradient(
    180deg,
    rgba(187, 229, 249, 0) 0%,
    rgba(187, 229, 249, 0.5) 100%
  );
  filter: drop-shadow(0px 5px 20px rgba(0, 147, 193, 0.25));
  border-radius: 10px;
}

.connect__banner-img {
  margin: 47px 0 12px;
}

.connect__banner-title {
  margin-bottom: 47px;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b4793;
}

.connect__banner-text {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.connect__banner-button {
  padding: 14px 32px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #373d42;
  background: #fdb913;
  border: 2px solid #7cd5ff;
  border-radius: 47px;
  cursor: pointer;
}

.connect__info {
  margin-bottom: 50px;
}

.connect__info-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #5f5f5f;
}

.connect__info-text:not(:first-child) {
  margin-bottom: 15px;
}

.connect__info-list {
  margin-bottom: 15px;
  list-style: none;
}

.connect__info-item {
  position: relative;
  padding-left: 17px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #5f5f5f;
}

.connect__info-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #fdb913;
}

.connect__info-list-num {
  margin-bottom: 15px;
  padding-left: 17px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #5f5f5f;
}

.connect__logo {
  margin-bottom: 41px;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .connect-content {
    margin-bottom: 60px;
  }
  
  .connect__banner {
    margin-bottom: 50px;
  }
  
  .connect__banner-img {
    margin: 37px 0 10px;
  }
  
  .connect__banner-title {
    margin-bottom: 35px;
    font-size: 26px;
    line-height: 36px;
  }
  
  .connect__banner-text {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .connect__banner-button {
    padding: 14px 32px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 15px;
  }
  
  .connect__info {
    margin-bottom: 35px;
  }
  
  .connect__info-text {
    font-size: 11px;
    line-height: 14px;
  }
  
  .connect__info-text:not(:first-child) {
    margin-bottom: 15px;
  }
  
  .connect__info-list {
    margin-bottom: 15px;
  }
  
  .connect__info-item {
    font-size: 12px;
    line-height: 14px;
  }

  .connect__info-list-num {
    font-size: 12px;
    line-height: 14px;
  }
  
  .connect__logo {
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .connect-content {
    margin-bottom: 65px;
  }
  
  .connect__banner {
    margin-bottom: 35px;
  }
  
  .connect__banner-img {
    margin: 10px 0 10px;
    width: 100px;
  }
  
  .connect__banner-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  
  .connect__banner-text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .connect__banner-button {
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 13px;
  }
  
  .connect__info {
    margin-bottom: 35px;
  }
  
  .connect__info-text {
    font-size: 11px;
    line-height: 14px;
  }
  
  .connect__info-text:not(:first-child) {
    margin-bottom: 15px;
  }
  
  .connect__info-list {
    margin-bottom: 15px;
  }
  
  .connect__info-item {
    font-size: 12px;
    line-height: 14px;
  }
  
  .connect__info-list-num {
    font-size: 12px;
    line-height: 14px;
  }
  
  .connect__logo {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .connect-content {
    margin-bottom: 45px;
  }
  
  .connect__banner {
    margin-bottom: 25px;
  }
  
  .connect__banner-img {
    margin: 10px 0 10px;
    width: 50px;
  }
  
  .connect__banner-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .connect__banner-text {
    width: 95%;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .connect__banner-button {
    padding: 8px 12px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 10px;
  }
  
  .connect__info {
    margin-bottom: 35px;
  }
  
  .connect__info-text {
    font-size: 11px;
    line-height: 11px;
  }
  
  .connect__info-text:not(:first-child) {
    margin-bottom: 5px;
  }
  
  .connect__info-list {
    margin-bottom: 5px;
  }
  
  .connect__info-item {
    font-size: 10px;
    line-height: 10px;
  }
  
  .connect__info-list-num {
    font-size: 10px;
    line-height: 10px;
  }
  
  .connect__logo {
    height: 30px;
    margin-bottom: 15px;
  }
}
