.header {
  height: 100vh;
  margin-bottom: 45px;
}

.header__nav {
  margin-top: 48px;
}

.header__title {
  margin-left: 170px;
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__title-span {
  color: #fdb913;
}

.header__main-img {
  width: 440px;
  margin-left: 125px;
}

.header__description {
  position: relative;
}

.header__action {
  position: fixed;
  z-index: 1;
  bottom: 87px;
  right: 158px;
  height: 90px;
  width: 90px;
  background-color: #fdb913;
  background-image: url('../../images/action.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-radius: 50%;
}

.header__action::after {
  position: absolute;
  bottom: -30px;
  width: max-content;
  content: "Зв'яжіться з нами";
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateX(-25%);
}

.header__slider {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.header__slider-item-img {
  width: 100%;
}

.header__slider .slick-dots {
  position: relative;
  bottom: 58px;
}

@media (min-width: 1921px) {
  .header {
    height: auto;
    margin-bottom: 165px;
  }

  .header__action {
    position: absolute;
    bottom: 50px;
    right: 10px;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .header {
    height: auto;
  }
  
  .header__nav {
    margin-top: 48px;
  }
  
  .header__title {
    margin-left: 130px;
    font-size: 52px;
    line-height: 58px;
  }
  
  .header__main-img {
    margin-left: 90px;
    width: 390px;
  }

  .header__action {
    bottom: 87px;
    right: 158px;
    height: 75px;
    width: 75px;
    background-size: 65%;
  }
  
  .header__action::after {
    font-size: 18px;
    line-height: 17px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .header {
    height: auto;
    margin-bottom: 165px;
  }
  
  .header__nav {
    margin-top: 30px;
  }
  
  .header__title {
    margin-left: 80px;
    font-size: 40px;
    line-height: 46px;
  }
  
  .header__main-img {
    margin-left: 55px;
    width: 280px;
  }

  .header__action {
    bottom: 70px;
    right: 100px;
    height: 55px;
    width: 55px;
    background-size: 60%;
  }
  
  .header__action::after {
    font-size: 14px;
    line-height: 13px;
    transform: translateX(-30%);
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .header {
    height: 500px;
  }
  
  .header__nav {
    margin-top: 30px;
  }
  
  .header__title {
    margin-left: 35px;
    font-size: 32px;
    line-height: 46px;
  }
  
  .header__main-img {
    width: 25%;
    margin-left: 35px;
  }
  
  .header__action {
    bottom: 50px;
    right: 60px;
    height: 40px;
    width: 40px;
    background-size: 45%;
  }
  
  .header__action::after {
    bottom: -20px;
    font-size: 12px;
    line-height: 11px;
    transform: translateX(-35%);
  }
  
  .header__slider {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
  }

  .header__slider-item-img {
    width: 100%;
  }
  
  .header__slider .slick-dots {
    position: relative;
    bottom: 58px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header {
    height: auto;
    margin-bottom: 45px;
  }
  
  .header__title {
    margin-left: 0;
    font-size: 20px;
    line-height: 26px;
  }
  
  .header__main-img {
    display: none;
  }
  
  .header__description {
    position: static;
  }
  
  .header__action {
    bottom: 25px;
    right: 25px;
    height: 30px;
    width: 30px;
    background-size: 60%;
  }
  
  .header__action::after {
    content: "";
  }
  
  .header__slider {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .header__slider-item-img {
    width: 100%;
    height: auto;
  }
  
  .header__slider .slick-dots {
    position: relative;
    bottom: 58px;
  }
}

@media (min-width: 591px) and (max-width: 768px) {
  .header {
    height: auto;
    margin-bottom: 185px;
  }

  .header__title {
    margin-left: 35px;
    padding-top: 25px;
    font-size: 20px;
    line-height: 26px;
  }

  .header__slider .slick-dots {
    bottom: 48px;
  }
}

@media (min-width: 451px) and (max-width: 590px) {
  .header {
    margin-bottom: 135px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .header {
    margin-bottom: 65px;
  }

  .header__title {
    font-size: 18px;
    line-height: 24px;
  }

  .header__slider .slick-dots {
    bottom: 38px;
  }
}
